## Import Dependencies

In [27]:
# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install numpy folium

Requirement already satisfied: numpy in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (1.13.3)
Collecting folium
  Downloading https://files.pythonhosted.org/packages/55/e2/7e523df8558b7f4b2ab4c62014fd378ccecce3fdc14c9928b272a88ae4cc/folium-0.7.0-py3-none-any.whl (85kB)
    100% |████████████████████████████████| 92kB 4.9MB/s ta 0:00:011
Requirement already satisfied: six in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (from folium) (1.11.0)
Requirement already satisfied: requests in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (from folium) (2.19.1)
Requirement already satisfied: jinja2 in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (from folium) (2.9.6)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/63/36/1c93318e9653f4e414a2e0c3b98fc898b4970e939afeedeee6075dd3b703/branca-0.3.1-py3-none-any.whl
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (from requests->folium) (1.22)
Requirement already satisfied: idna<2.8,>=2.5 in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (from requests->folium) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (from requests->folium) (2018.10.15)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/hasansulaeman/anaconda3/lib/python3.6/site-packages (from jinja2->folium) (1.0)
Installing collected packages: branca, folium
Successfully installed branca-0.3.1 folium-0.7.0

In [28]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import folium
from folium import plugins
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pymysql.install_as_MySQLdb()

----

### Extract CSVs into DataFrames

In [20]:
pokemon_file = "Resources/pokemon-spawns.csv"
pokemon_data_df = pd.read_csv(pokemon_file)
pokemon_data_df = pokemon_data_df[["s2_token", "name", "lat", "lng"]]
pokemon_data_df["id"] = pokemon_data_df.index 
pokemon_data_df.head()

      s2_token     name        lat         lng  id
0  8085808cc6d   Weedle  37.793592 -122.408721   0
1  8085808b51d   Pidgey  37.794746 -122.406420   1
2  8085808b271    Zubat  37.794999 -122.404384   2
3  808580f3587   Pidgey  37.795644 -122.407128   3
4  808580f4b1d  Poliwag  37.795592 -122.406331   4

In [ ]:
m = folium.Map([37.795644, -87.6298], zoom_start=11)
m

In [24]:
incidence_count = police_data_df.groupby([['X','Y']]).count()
incidence_count

for nam in new_poke_df[[name]]:
    if nam = "Nidoranº":
        nam = "Nidoran"

ValueError: Grouper and axis must be same length

In [9]:
police_data_df = pd.read_csv("Resources/police-department-incidents.csv")
police_data_df = police_data_df[["IncidntNum", "Descript", "PdDistrict", "Resolution", "X", "Y"]]
police_data_df.head()

,IncidntNum,Descript,PdDistrict,Resolution,X,Y
0,50436712,BATTERY,MISSION,NONE,-122.435003,37.760888
1,130366639,AGGRAVATED ASSAULT WITH A KNIFE,INGLESIDE,"ARREST, BOOKED",-122.444707,37.724931
2,141024103,"CHILD, INFLICTING INJURY RESULTING IN TRAUMATI...",MISSION,"ARREST, BOOKED",-122.407102,37.762558
3,51142198,THREATS AGAINST LIFE,CENTRAL,"ARREST, BOOKED",-122.403847,37.789828
4,140684794,BATTERY,BAYVIEW,NONE,-122.402554,37.765419

In [ ]:
# Aggregating data based on the lat and long

----

### Transform pokemon DataFrame

In [10]:
new_poke_df = pokemon_data_df[[\
    's2_token','name','lat','lng']].copy()
new_poke_df.head()

      s2_token     name        lat         lng
0  8085808cc6d   Weedle  37.793592 -122.408721
1  8085808b51d   Pidgey  37.794746 -122.406420
2  8085808b271    Zubat  37.794999 -122.404384
3  808580f3587   Pidgey  37.795644 -122.407128
4  808580f4b1d  Poliwag  37.795592 -122.406331

In [11]:
#change column names for new_poke_df
'''new_poke_df.rename(columns={'s2_token':'id',
    'num':''},
    'name':'',
    'encounter_ms':'',
    'disppear_ms'},
    inplace=True)'''
new_poke_df.drop_duplicates("s2_token", inplace=True)
new_poke_df.set_index("s2_token", inplace=True)
new_poke_df.head()

                name        lat         lng
s2_token
8085808cc6d   Weedle  37.793592 -122.408721
8085808b51d   Pidgey  37.794746 -122.406420
8085808b271    Zubat  37.794999 -122.404384
808580f3587   Pidgey  37.795644 -122.407128
808580f4b1d  Poliwag  37.795592 -122.406331

### Transform police DataFrame

In [14]:
police_data_df = police__df[[\
    "IncidntNum", "Descript", "PdDistrict", "Resolution", "X", "Y"]].copy()
police_data_df.head()

,IncidntNum,Descript,PdDistrict,Resolution,X,Y
0,50436712,BATTERY,MISSION,NONE,-122.435003,37.760888
1,130366639,AGGRAVATED ASSAULT WITH A KNIFE,INGLESIDE,"ARREST, BOOKED",-122.444707,37.724931
2,141024103,"CHILD, INFLICTING INJURY RESULTING IN TRAUMATI...",MISSION,"ARREST, BOOKED",-122.407102,37.762558
3,51142198,THREATS AGAINST LIFE,CENTRAL,"ARREST, BOOKED",-122.403847,37.789828
4,140684794,BATTERY,BAYVIEW,NONE,-122.402554,37.765419

In [16]:
#change column names for new_police_df
police_data_df.rename(columns={'IncidntNum':'inc_num',
    'Descript':'descr',
    'PdDistrict':'district',
    'Resolution':'resolution',
    'X':'lng',
    'Y':'lat'}, 
    inplace=True)
police_data_df.set_index("inc_num", inplace=True)
police_data_df.head()

,descr,district,resolution,lng,lat
inc_num,,,,,
50436712,BATTERY,MISSION,NONE,-122.435003,37.760888
130366639,AGGRAVATED ASSAULT WITH A KNIFE,INGLESIDE,"ARREST, BOOKED",-122.444707,37.724931
141024103,"CHILD, INFLICTING INJURY RESULTING IN TRAUMATI...",MISSION,"ARREST, BOOKED",-122.407102,37.762558
51142198,THREATS AGAINST LIFE,CENTRAL,"ARREST, BOOKED",-122.403847,37.789828
140684794,BATTERY,BAYVIEW,NONE,-122.402554,37.765419

### Create database connection

In [17]:
#rds_connection_string = "<inser user name>:<insert password>@127.0.0.1/customer_db"
#engine = create_engine(f'mysql://{rds_connection_string}')
engine = create_engine(f'mysql://root:Redondo0505@localhost:3306/pokemon_police_db')

In [18]:
# Confirm tables
engine.table_names()

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

### Load DataFrames into database

In [12]:
new_poke_df.to_sql(name='pokemon', con=engine, if_exists='append', index=True)

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 's2_token' at row 1") [SQL: 'INSERT INTO pokemon (s2_id, s2_token, num, name, lat, lng, encounter_ms, disppear_ms) VALUES (%(s2_id_m0)s, %(s2_token_m0)s, %(num_m0)s, %(name_m0)s, %(lat_m0)s, %(lng_m0)s, %(encounter_ms_m0)s, %(disppear_ms_m0)s), (%(s2_id_m1)s, %(s2_token_m1)s, %(num_m1)s, %(name_m1)s, %(lat_m1)s, %(lng_m1)s, %(encounter_ms_m1)s, %(disppear_ms_m1)s), (%(s2_id_m2)s, %(s2_token_m2)s, %(num_m2)s, %(name_m2)s, %(lat_m2)s, %(lng_m2)s, %(encounter_ms_m2)s, %(disppear_ms_m2)s), (%(s2_id_m3)s, %(s2_token_m3)s, %(num_m3)s, %(name_m3)s, %(lat_m3)s, %(lng_m3)s, %(encounter_ms_m3)s, %(disppear_ms_m3)s), (%(s2_id_m4)s, %(s2_token_m4)s, %(num_m4)s, %(name_m4)s, %(lat_m4)s, %(lng_m4)s, %(encounter_ms_m4)s, %(disppear_ms_m4)s), (%(s2_id_m5)s, %(s2_token_m5)s, %(num_m5)s, %(name_m5)s, %(lat_m5)s, %(lng_m5)s, %(encounter_ms_m5)s, %(disppear_ms_m5)s), (%(s2_id_m6)s, %(s2_token_m6)s, %(num_m6)s, %(name_m6)s, %(lat_m6)s, %(lng_m6)s, %(encounter_ms_m6)s, %(disppear_ms_m6)s), (%(s2_id_m7)s, %(s2_token_m7)s, %(num_m7)s, %(name_m7)s, %(lat_m7)s, %(lng_m7)s, %(encounter_ms_m7)s, %(disppear_ms_m7)s), (%(s2_id_m8)s, %(s2_token_m8)s, %(num_m8)s, %(name_m8)s, %(lat_m8)s, %(lng_m8)s, %(encounter_ms_m8)s, %(disppear_ms_m8)s), (%(s2_id_m9)s, %(s2_token_m9)s, %(num_m9)s, %(name_m9)s, %(lat_m9)s, %(lng_m9)s, %(encounter_ms_m9)s, %(disppear_ms_m9)s), (%(s2_id_m10)s, %(s2_token_m10)s, %(num_m10)s, %(name_m10)s, %(lat_m10)s, %(lng_m10)s, %(encounter_ms_m10)s, %(disppear_ms_m10)s), (%(s2_id_m11)s, %(s2_token_m11)s, %(num_m11)s, %(name_m11)s, %(lat_m11)s, %(lng_m11)s, %(encounter_ms_m11)s, %(disppear_ms_m11)s), (%(s2_id_m12)s, %(s2_token_m12)s, %(num_m12)s, %(name_m12)s, %(lat_m12)s, %(lng_m12)s, %(encounter_ms_m12)s, %(disppear_ms_m12)s), (%(s2_id_m13)s, %(s2_token_m13)s, %(num_m13)s, %(name_m13)s, %(lat_m13)s, %(lng_m13)s, %(encounter_ms_m13)s, %(disppear_ms_m13)s), (%(s2_id_m14)s, %(s2_token_m14)s, %(num_m14)s, %(name_m14)s, %(lat_m14)s, %(lng_m14)s, %(encounter_ms_m14)s, %(disppear_ms_m14)s), (%(s2_id_m15)s, %(s2_token_m15)s, %(num_m15)s, %(name_m15)s, %(lat_m15)s, %(lng_m15)s, %(encounter_ms_m15)s, %(disppear_ms_m15)s), (%(s2_id_m16)s, %(s2_token_m16)s, %(num_m16)s, %(name_m16)s, %(lat_m16)s, %(lng_m16)s, %(encounter_ms_m16)s, %(disppear_ms_m16)s), (%(s2_id_m17)s, %(s2_token_m17)s, %(num_m17)s, %(name_m17)s, %(lat_m17)s, %(lng_m17)s, %(encounter_ms_m17)s, %(disppear_ms_m17)s), (%(s2_id_m18)s, %(s2_token_m18)s, %(num_m18)s, %(name_m18)s, %(lat_m18)s, %(lng_m18)s, %(encounter_ms_m18)s, %(disppear_ms_m18)s), (%(s2_id_m19)s, %(s2_token_m19)s, %(num_m19)s, %(name_m19)s, %(lat_m19)s, %(lng_m19)s, %(encounter_ms_m19)s, %(disppear_ms_m19)s), (%(s2_id_m20)s, %(s2_token_m20)s, %(num_m20)s, %(name_m20)s, %(lat_m20)s, %(lng_m20)s, %(encounter_ms_m20)s, %(disppear_ms_m20)s), (%(s2_id_m21)s, %(s2_token_m21)s, %(num_m21)s, %(name_m21)s, %(lat_m21)s, %(lng_m21)s, %(encounter_ms_m21)s, %(disppear_ms_m21)s), (%(s2_id_m22)s, %(s2_token_m22)s, %(num_m22)s, %(name_m22)s, %(lat_m22)s, %(lng_m22)s, %(encounter_ms_m22)s, %(disppear_ms_m22)s), (%(s2_id_m23)s, %(s2_token_m23)s, %(num_m23)s, %(name_m23)s, %(lat_m23)s, %(lng_m23)s, %(encounter_ms_m23)s, %(disppear_ms_m23)s), (%(s2_id_m24)s, %(s2_token_m24)s, %(num_m24)s, %(name_m24)s, %(lat_m24)s, %(lng_m24)s, %(encounter_ms_m24)s, %(disppear_ms_m24)s), (%(s2_id_m25)s, %(s2_token_m25)s, %(num_m25)s, %(name_m25)s, %(lat_m25)s, %(lng_m25)s, %(encounter_ms_m25)s, %(disppear_ms_m25)s), (%(s2_id_m26)s, %(s2_token_m26)s, %(num_m26)s, %(name_m26)s, %(lat_m26)s, %(lng_m26)s, %(encounter_ms_m26)s, %(disppear_ms_m26)s), (%(s2_id_m27)s, %(s2_token_m27)s, %(num_m27)s, %(name_m27)s, %(lat_m27)s, %(lng_m27)s, %(encounter_ms_m27)s, %(disppear_ms_m27)s), (%(s2_id_m28)s, %(s2_token_m28)s, %(num_m28)s, %(name_m28)s, %(lat_m28)s, %(lng_m28)s, %(encounter_ms_m28)s, %(disppear_ms_m28)s), (%(s2_id_m29)s, %(s2_token_m29)s, %(num_m29)s, %(name_m29)s, %(lat_m29)s, %(lng_m29)s, %(encounter_ms_m29)s, %(disppear_ms_m29)s), (%(s2_id_m30)s, %(s2_token_m30)s, %(num_m30)s, %(name_m30)s, %(lat_m30)s, %(lng_m30)s, %(encounter_ms_m30)s, %(disppear_ms_m30)s), (%(s2_id_m31)s, %(s2_token_m31)s, %(num_m31)s, %(name_m31)s, %(lat_m31)s, %(lng_m31)s, %(encounter_ms_m31)s, %(disppear_ms_m31)s), (%(s2_id_m32)s, %(s2_token_m32)s, %(num_m32)s, %(name_m32)s, %(lat_m32)s, %(lng_m32)s, %(encounter_ms_m32)s, %(disppear_ms_m32)s), (%(s2_id_m33)s, %(s2_token_m33)s, %(num_m33)s, %(name_m33)s, %(lat_m33)s, %(lng_m33)s, %(encounter_ms_m33)s, %(disppear_ms_m33)s), (%(s2_id_m34)s, %(s2_token_m34)s, %(num_m34)s, %(name_m34)s, %(lat_m34)s, %(lng_m34)s, %(encounter_ms_m34)s, %(disppear_ms_m34)s), (%(s2_id_m35)s, %(s2_token_m35)s, %(num_m35)s, %(name_m35)s, %(lat_m35)s, %(lng_m35)s, %(encounter_ms_m35)s, %(disppear_ms_m35)s), (%(s2_id_m36)s, %(s2_token_m36)s, %(num_m36)s, %(name_m36)s, %(lat_m36)s, %(lng_m36)s, %(encounter_ms_m36)s, %(disppear_ms_m36)s), (%(s2_id_m37)s, %(s2_token_m37)s, %(num_m37)s, %(name_m37)s, %(lat_m37)s, %(lng_m37)s, %(encounter_ms_m37)s, %(disppear_ms_m37)s), (%(s2_id_m38)s, %(s2_token_m38)s, %(num_m38)s, %(name_m38)s, %(lat_m38)s, %(lng_m38)s, %(encounter_ms_m38)s, %(disppear_ms_m38)s), (%(s2_id_m39)s, %(s2_token_m39)s, %(num_m39)s, %(name_m39)s, %(lat_m39)s, %(lng_m39)s, %(encounter_ms_m39)s, %(disppear_ms_m39)s), (%(s2_id_m40)s, %(s2_token_m40)s, %(num_m40)s, %(name_m40)s, %(lat_m40)s, %(lng_m40)s, %(encounter_ms_m40)s, %(disppear_ms_m40)s), (%(s2_id_m41)s, %(s2_token_m41)s, %(num_m41)s, %(name_m41)s, %(lat_m41)s, %(lng_m41)s, %(encounter_ms_m41)s, %(disppear_ms_m41)s), (%(s2_id_m42)s, %(s2_token_m42)s, %(num_m42)s, %(name_m42)s, %(lat_m42)s, %(lng_m42)s, %(encounter_ms_m42)s, %(disppear_ms_m42)s), (%(s2_id_m43)s, %(s2_token_m43)s, %(num_m43)s, %(name_m43)s, %(lat_m43)s, %(lng_m43)s, %(encounter_ms_m43)s, %(disppear_ms_m43)s), (%(s2_id_m44)s, %(s2_token_m44)s, %(num_m44)s, %(name_m44)s, %(lat_m44)s, %(lng_m44)s, %(encounter_ms_m44)s, %(disppear_ms_m44)s), (%(s2_id_m45)s, %(s2_token_m45)s, %(num_m45)s, %(name_m45)s, %(lat_m45)s, %(lng_m45)s, %(encounter_ms_m45)s, %(disppear_ms_m45)s), (%(s2_id_m46)s, %(s2_token_m46)s, %(num_m46)s, %(name_m46)s, %(lat_m46)s, %(lng_m46)s, %(encounter_ms_m46)s, %(disppear_ms_m46)s), (%(s2_id_m47)s, %(s2_token_m47)s, %(num_m47)s, %(name_m47)s, %(lat_m47)s, %(lng_m47)s, %(encounter_ms_m47)s, %(disppear_ms_m47)s), (%(s2_id_m48)s, %(s2_token_m48)s, %(num_m48)s, %(name_m48)s, %(lat_m48)s, %(lng_m48)s, %(encounter_ms_m48)s, %(disppear_ms_m48)s), (%(s2_id_m49)s, %(s2_token_m49)s, %(num_m49)s, %(name_m49)s, %(lat_m49)s, %(lng_m49)s, %(encounter_ms_m49)s, %(disppear_ms_m49)s), (%(s2_id_m50)s, %(s2_token_m50)s, %(num_m50)s, %(name_m50)s, %(lat_m50)s, %(lng_m50)s, %(encounter_ms_m50)s, %(disppear_ms_m50)s), (%(s2_id_m51)s, %(s2_token_m51)s, %(num_m51)s, %(name_m51)s, %(lat_m51)s, %(lng_m51)s, %(encounter_ms_m51)s, %(disppear_ms_m51)s), (%(s2_id_m52)s, %(s2_token_m52)s, %(num_m52)s, %(name_m52)s, %(lat_m52)s, %(lng_m52)s, %(encounter_ms_m52)s, %(disppear_ms_m52)s), (%(s2_id_m53)s, %(s2_token_m53)s, %(num_m53)s, %(name_m53)s, %(lat_m53)s, %(lng_m53)s, %(encounter_ms_m53)s, %(disppear_ms_m53)s), (%(s2_id_m54)s, %(s2_token_m54)s, %(num_m54)s, %(name_m54)s, %(lat_m54)s, %(lng_m54)s, %(encounter_ms_m54)s, %(disppear_ms_m54)s), (%(s2_id_m55)s, %(s2_token_m55)s, %(num_m55)s, %(name_m55)s, %(lat_m55)s, %(lng_m55)s, %(encounter_ms_m55)s, %(disppear_ms_m55)s)'] [parameters: {'s2_id_m0': -9.18579e+18, 's2_token_m0': '8085808cc6d', 'num_m0': 13, 'name_m0': 'Weedle', 'lat_m0': 37.79359158, 'lng_m0': -122.4087206, 'encounter_ms_m0': 1469520000000.0, 'disppear_ms_m0': 1469520000000.0, 's2_id_m1': -9.18292e+18, 's2_token_m1': '808fb4e54b3', 'num_m1': 50, 'name_m1': 'Diglett', 'lat_m1': 37.3011287, 'lng_m1': -122.0484534, 'encounter_ms_m1': 1469520000000.0, 'disppear_ms_m1': 1469520000000.0, 's2_id_m2': -9.18298e+18, 's2_token_m2': '808f7e1799d', 'num_m2': 46, 'name_m2': 'Paras', 'lat_m2': 37.75946719, 'lng_m2': -122.4262419, 'encounter_ms_m2': 1469520000000.0, 'disppear_ms_m2': 1469520000000.0, 's2_id_m3': -9.1829e+18, 's2_token_m3': '808fcaa764b', 'num_m3': 19, 'name_m3': 'Rattata', 'lat_m3': 37.30186935, 'lng_m3': -121.99240800000001, 'encounter_ms_m3': 1469520000000.0, 'disppear_ms_m3': 1469520000000.0, 's2_id_m4': -9.18334e+18, 's2_token_m4': '808e34d511f', 'num_m4': 46, 'name_m4': 'Paras', 'lat_m4': 37.30155362, 'lng_m4': -121.945489, 'encounter_ms_m4': 1469520000000.0, 'disppear_ms_m4': 1469520000000.0, 's2_id_m5': -9.18335e+18, 's2_token_m5': '808e336ae03', 'num_m5': 16, 'name_m5': 'Pidgey', 'lat_m5': 37.30118613, 'lng_m5': -121.8805869, 'encounter_ms_m5': 1469520000000.0, 'disppear_ms_m5': 1469520000000.0, 's2_id_m6': -9.18289e+18, 's2_token_m6': '808fceaac5d', 'num_m6': 74, 'name_m6': 'Geodude', 'lat_m6': 37.39518708, 'lng_m6': -121.9009507, 'encounter_ms_m6': 1469520000000.0, 'disppear_ms_m6': 1469520000000.0, 's2_id_m7': -9.18293e+18, 's2_token_m7': '808fb010d71', 'num_m7': 41, 'name_m7': 'Zubat', 'lat_m7': 37.37819574, 'lng_m7': -122.1606348, 'encounter_ms_m7': 1469520000000.0, 'disppear_ms_m7': 1469520000000.0, 's2_id_m8': -9.18291e+18, 's2_token_m8': '808fbbf81c1', 'num_m8': 63, 'name_m8': 'Abra', 'lat_m8': 37.48794135, 'lng_m8': -122.0947956, 'encounter_ms_m8': -1.0, 'disppear_ms_m8': 1469520000000.0, 's2_id_m9': -9.18296e+18, 's2_token_m9': '808f95f8899', 'num_m9': 46, 'name_m9': 'Paras', 'lat_m9': 37.57222179, 'lng_m9': -122.07535559999998, 'encounter_ms_m9': 1469520000000.0, 'disppear_ms_m9': 1469520000000.0, 's2_id_m10': -9.18286e+18, 's2_token_m10': '808feaab5cd', 'num_m10': 33, 'name_m10': 'Nidorino', 'lat_m10': 37.60091692, 'lng_m10': -121.9916084, 'encounter_ms_m10': -1.0, 'disppear_ms_m10': 1469520000000.0, 's2_id_m11': -9.18294e+18, 's2_token_m11': '808fa499add', 'num_m11': 19, 'name_m11': 'Rattata', 'lat_m11': 37.44906433, 'lng_m11': -122.200456, 'encounter_ms_m11': 1469530000000.0, 'disppear_ms_m11': 1469530000000.0, 's2_id_m12': -9.18295e+18, 's2_token_m12': '808f9f5f9c5', 'num_m12': 133, 'name_m12': 'Eevee', 'lat_m12': 37.50827097, 'lng_m12': -122.28545890000001, 'encounter_ms_m12': 1469530000000.0, 'disppear_ms_m12': 1469530000000.0, 's2_id_m13': -9.18299e+18, 's2_token_m13': '808f758ea83', 'num_m13': 133, 'name_m13': 'Eevee', 'lat_m13': 37.53657857, 'lng_m13': -122.3623373, 'encounter_ms_m13': 1469530000000.0, 'disppear_ms_m13': 1469530000000.0, 's2_id_m14': -9.18297e+18, 's2_token_m14': '808f8707007', 'num_m14': 84, 'name_m14': 'Doduo', 'lat_m14': 37.801342299999995, 'lng_m14': -122.2227105, 'encounter_ms_m14': 1469530000000.0, 'disppear_ms_m14': 1469530000000.0, 's2_id_m15': -9.1858e+18, 's2_token_m15': '80857fd7e7f', 'num_m15': 81, 'name_m15': 'Magnemite', 'lat_m15': 37.80295625, 'lng_m15': -122.3207165, 'encounter_ms_m15': 1469530000000.0, 'disppear_ms_m15': 1469530000000.0, 's2_id_m16': -9.183e+18, 's2_token_m16': '808f70dc049', 'num_m16': 133, 'name_m16': 'Eevee', 'lat_m16': 37.57258468, 'lng_m16': -122.46428290000001, 'encounter_ms_m16': -1.0, 'disppear_ms_m16': 1469540000000.0, 's2_id_m17': -9.18332e+18, 's2_token_m17': '808e4aab993', 'num_m17': 16, 'name_m17': 'Pidgey', 'lat_m17': 37.2849901, 'lng_m17': -121.9972942, 'encounter_ms_m17': 1469540000000.0, 'disppear_ms_m17': 1469540000000.0, 's2_id_m18': -9.16111e+18, 's2_token_m18': '80dd369270b', 'num_m18': 7, 'name_m18': 'Squirtle', 'lat_m18': 33.76412917, 'lng_m18': -118.24055600000001, 'encounter_ms_m18': 1469550000000.0, 'disppear_ms_m18': 1469550000000.0, 's2_id_m19': -9.16108e+18, 's2_token_m19': '80dd4b7c719', 'num_m19': 46, 'name_m19': 'Paras', 'lat_m19': 33.79265516, 'lng_m19': -118.3876925, 'encounter_ms_m19': 1469550000000.0, 'disppear_ms_m19': 1469550000000.0, 's2_id_m20': -9.16857e+18, 's2_token_m20': '80c2b4ab485', 'num_m20': 19, 'name_m20': 'Rattata', 'lat_m20': 33.82727239, 'lng_m20': -118.38842279999999, 'encounter_ms_m20': -1.0, 'disppear_ms_m20': 1469550000000.0, 's2_id_m21': -9.16854e+18, 's2_token_m21': '80c2caaaa29', 'num_m21': 127, 'name_m21': 'Pinsir', 'lat_m21': 33.85034477, 'lng_m21': -118.29884129999999, 'encounter_ms_m21': 1469550000000.0, 'disppear_ms_m21': 1469550000000.0, 's2_id_m22': -9.18576e+18, 's2_token_m22': '80859d4d465', 'num_m22': 13, 'name_m22': 'Weedle', 'lat_m22': 37.94074869, 'lng_m22': -122.3686232, 'encounter_ms_m22': 1469550000000.0, 'disppear_ms_m22': 1469550000000.0, 's2_id_m23': -9.18581e+18, 's2_token_m23': '8085762ac85', 'num_m23': 17, 'name_m23': 'Pidgeotto', 'lat_m23': 37.98288627, 'lng_m23': -122.35454569999999, 'encounter_ms_m23': 1469550000000.0, 'disppear_ms_m23': 1469550000000.0, 's2_id_m24': -9.18311e+18, 's2_token_m24': '808f0b7634d', 'num_m24': 48, 'name_m24': 'Venonat', 'lat_m24': 37.42521061, 'lng_m24': -122.432524, 'encounter_ms_m24': 1469550000000.0, 'disppear_ms_m24': 1469550000000.0, 's2_id_m25': -9.18343e+18, 's2_token_m25': '808de6d5ac5', 'num_m25': 21, 'name_m25': 'Spearow', 'lat_m25': 36.60471353, 'lng_m25': -121.94468909999998, 'encounter_ms_m25': 1469550000000.0, 'disppear_ms_m25': 1469550000000.0, 's2_id_m26': -9.18344e+18, 's2_token_m26': '808de12a0b1', 'num_m26': 13, 'name_m26': 'Weedle', 'lat_m26': 36.61059718, 'lng_m26': -121.9470888, 'encounter_ms_m26': 1469550000000.0, 'disppear_ms_m26': 1469550000000.0, 's2_id_m27': -8.73067e+18, 's2_token_m27': '86d67101b99', 'num_m27': 46, 'name_m27': 'Paras', 'lat_m27': 32.22751012, 'lng_m27': -110.95452890000001, 'encounter_ms_m27': 1469550000000.0, 'disppear_ms_m27': 1469550000000.0, 's2_id_m28': -8.73066e+18, 's2_token_m28': '86d673d6319', 'num_m28': 56, 'name_m28': 'Mankey', 'lat_m28': 32.26920746, 'lng_m28': -110.9591858, 'encounter_ms_m28': 1469550000000.0, 'disppear_ms_m28': 1469550000000.0, 's2_id_m29': -8.73068e+18, 's2_token_m29': '86d6659cb41', 'num_m29': 23, 'name_m29': 'Ekans', 'lat_m29': 32.18926098, 'lng_m29': -110.8504956, 'encounter_ms_m29': 1469550000000.0, 'disppear_ms_m29': 1469550000000.0, 's2_id_m30': -9.16855e+18, 's2_token_m30': '80c2c89f0e5', 'num_m30': 56, 'name_m30': 'Mankey', 'lat_m30': 34.02697563, 'lng_m30': -118.23123580000001, 'encounter_ms_m30': 1469550000000.0, 'disppear_ms_m30': 1469550000000.0, 's2_id_m31': 6.92444e+18, 's2_token_m31': '60188b1ddc9', 'num_m31': 41, 'name_m31': 'Zubat', 'lat_m31': 35.63103868, 'lng_m31': 139.7171873, 'encounter_ms_m31': 1469560000000.0, 'disppear_ms_m31': 1469550000000.0, 's2_id_m32': 6.92455e+18, 's2_token_m32': '6018f4cb05f', 'num_m32': 127, 'name_m32': 'Pinsir', 'lat_m32': 35.63383084, 'lng_m32': 139.6889439, 'encounter_ms_m32': 1469560000000.0, 'disppear_ms_m32': 1469550000000.0, 's2_id_m33': -8.52016e+18, 's2_token_m33': '89c2524ed21', 'num_m33': 84, 'name_m33': 'Doduo', 'lat_m33': 40.69324733, 'lng_m33': -74.15367737, 'encounter_ms_m33': 1469560000000.0, 'disppear_ms_m33': 1469560000000.0, 's2_id_m34': -8.52015e+18, 's2_token_m34': '89c25a6fd81', 'num_m34': 32, 'name_m34': 'Nidoran♂', 'lat_m34': 40.69270419, 'lng_m34': -74.01821509999999, 'encounter_ms_m34': 1469560000000.0, 'disppear_ms_m34': 1469560000000.0, 's2_id_m35': -8.51998e+18, 's2_token_m35': '89c2f62a76f', 'num_m35': 54, 'name_m35': 'Psyduck', 'lat_m35': 40.79424244, 'lng_m35': -73.97910028, 'encounter_ms_m35': 1469560000000.0, 'disppear_ms_m35': 1469560000000.0, 's2_id_m36': -8.51997e+18, 's2_token_m36': '89c2f7fd7db', 'num_m36': 69, 'name_m36': 'Bellsprout', 'lat_m36': 40.80006468, 'lng_m36': -74.02069394, 'encounter_ms_m36': 1469560000000.0, 'disppear_ms_m36': 1469560000000.0, 's2_id_m37': 6.92439e+18, 's2_token_m37': '601862754c5', 'num_m37': 13, 'name_m37': 'Weedle', 'lat_m37': 35.62272863, 'lng_m37': 139.79352769999997, 'encounter_ms_m37': 1469560000000.0, 'disppear_ms_m37': 1469560000000.0, 's2_id_m38': 6.92443e+18, 's2_token_m38': '60188829a9b', 'num_m38': 100, 'name_m38': 'Voltorb', 'lat_m38': 35.63667114, 'lng_m38': 139.8210215, 'encounter_ms_m38': 1469560000000.0, 'disppear_ms_m38': 1469560000000.0, 's2_id_m39': -9.18578e+18, 's2_token_m39': '80858eedae7', 'num_m39': 98, 'name_m39': 'Krabby', 'lat_m39': 37.81851228, 'lng_m39': -122.6017342, 'encounter_ms_m39': -1.0, 'disppear_ms_m39': 1469560000000.0, 's2_id_m40': -9.18577e+18, 's2_token_m40': '80859aaad09', 'num_m40': 29, 'name_m40': 'Nidoran♀', 'lat_m40': 37.88933213, 'lng_m40': -122.5349317, 'encounter_ms_m40': 1469560000000.0, 'disppear_ms_m40': 1469560000000.0, 's2_id_m41': -9.17979e+18, 's2_token_m41': '809ad3d3a5d', 'num_m41': 19, 'name_m41': 'Rattata', 'lat_m41': 38.53453042, 'lng_m41': -121.54471629999999, 'encounter_ms_m41': 1469560000000.0, 'disppear_ms_m41': 1469560000000.0, 's2_id_m42': -8.52014e+18, 's2_token_m42': '89c26389c21', 'num_m42': 120, 'name_m42': 'Staryu', 'lat_m42': 40.67834936, 'lng_m42': -73.71684673, 'encounter_ms_m42': 1469560000000.0, 'disppear_ms_m42': 1469560000000.0, 's2_id_m43': -8.52011e+18, 's2_token_m43': '89c27f104cb', 'num_m43': 16, 'name_m43': 'Pidgey', 'lat_m43': 40.67364253, 'lng_m43': -73.49761159, 'encounter_ms_m43': 1469560000000.0, 'disppear_ms_m43': 1469560000000.0, 's2_id_m44': -8.50904e+18, 's2_token_m44': '89e9d3433ed', 'num_m44': 16, 'name_m44': 'Pidgey', 'lat_m44': 40.68781047, 'lng_m44': -73.35792883, 'encounter_ms_m44': 1469560000000.0, 'disppear_ms_m44': 1469560000000.0, 's2_id_m45': -9.1798e+18, 's2_token_m45': '809ad03138b', 'num_m45': 16, 'name_m45': 'Pidgey', 'lat_m45': 38.52535754, 'lng_m45': -121.4841341, 'encounter_ms_m45': 1469560000000.0, 'disppear_ms_m45': 1469560000000.0, 's2_id_m46': -9.17977e+18, 's2_token_m46': '809ae99bbc7', 'num_m46': 19, 'name_m46': 'Rattata', 'lat_m46': 38.52577756, 'lng_m46': -121.2243155, 'encounter_ms_m46': -1.0, 'disppear_ms_m46': 1469560000000.0, 's2_id_m47': -9.17981e+18, 's2_token_m47': '809ac549f49', 'num_m47': 16, 'name_m47': 'Pidgey', 'lat_m47': 38.52487598, 'lng_m47': -121.4240557, 'encounter_ms_m47': 1469560000000.0, 'disppear_ms_m47': 1469560000000.0, 's2_id_m48': -9.17978e+18, 's2_token_m48': '809adaaa973', 'num_m48': 19, 'name_m48': 'Rattata', 'lat_m48': 38.525158399999995, 'lng_m48': -121.44476979999999, 'encounter_ms_m48': 1469560000000.0, 'disppear_ms_m48': 1469560000000.0, 's2_id_m49': -9.17992e+18, 's2_token_m49': '809a60d4c2b', 'num_m49': 16, 'name_m49': 'Pidgey', 'lat_m49': 38.52462605, 'lng_m49': -120.80533870000001, 'encounter_ms_m49': -1.0, 'disppear_ms_m49': 1469560000000.0, 's2_id_m50': -9.17976e+18, 's2_token_m50': '809aedc06bd', 'num_m50': 46, 'name_m50': 'Paras', 'lat_m50': 38.53054063, 'lng_m50': -121.1040402, 'encounter_ms_m50': -1.0, 'disppear_ms_m50': 1469560000000.0, 's2_id_m51': -8.51594e+18, 's2_token_m51': '89d14c78a7d', 'num_m51': 48, 'name_m51': 'Venonat', 'lat_m51': 43.07786970000001, 'lng_m51': -77.65374668, 'encounter_ms_m51': 1469610000000.0, 'disppear_ms_m51': 1469610000000.0, 's2_id_m52': -8.51597e+18, 's2_token_m52': '89d1357dcfd', 'num_m52': 32, 'name_m52': 'Nidoran (m)', 'lat_m52': 43.07838748, 'lng_m52': -77.55965815, 'encounter_ms_m52': 1469610000000.0, 'disppear_ms_m52': 1469610000000.0, 's2_id_m53': -8.5144e+18, 's2_token_m53': '89d6caaad55', 'num_m53': 13, 'name_m53': 'Weedle', 'lat_m53': 43.11118369, 'lng_m53': -77.55912079, 'encounter_ms_m53': -1.0, 'disppear_ms_m53': 1469610000000.0, 's2_id_m54': -8.51442e+18, 's2_token_m54': '89d6b552d3f', 'num_m54': 13, 'name_m54': 'Weedle', 'lat_m54': 43.11270814, 'lng_m54': -77.57094217, 'encounter_ms_m54': 1469610000000.0, 'disppear_ms_m54': 1469610000000.0, 's2_id_m55': -9.18583e+18, 's2_token_m55': '808562b5027', 'num_m55': 48, 'name_m55': 'Venonat', 'lat_m55': 37.86449029, 'lng_m55': -122.17225459999999, 'encounter_ms_m55': 1469650000000.0, 'disppear_ms_m55': 1469650000000.0}] (Background on this error at: http://sqlalche.me/e/9h9h)

In [ ]:
new_police_df.to_sql(name='police', con=engine, if_exists='append', index=True)

In [12]:
pd.read_sql_query('select * from premise', con=engine).head()

        id                        premise_name  county_id
0  1300091  TWO THOUSAND FIFTEEN ARTISANAL LLC          2
1  1307023                JA EXPRESS FOOD CORP          8
2  1307145                  TRINITA PARETE LLC          2
3  1307243            CRESCENT ST PIZZERIA INC          1
4  1307463       LA REGIA DELI RESTAURANT CORP         10

In [13]:
pd.read_sql_query('select * from county', con=engine).head()

   id  county_name  license_count  county_id
0   0       ALBANY             77          5
1   1     ALLEGANY              4         59
2   2        BRONX            104          0
3   3       BROOME             14         35
4   4  CATTARAUGUS              9         41