## Import Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

----

### Extract CSVs into DataFrames

In [2]:
pokemon_file = "Resources/pokemon-spawns.csv"
pokemon_data_df = pd.read_csv(pokemon_file)
pokemon_data_df = pokemon_data_df[["s2_token", "name", "lat", "lng"]]
pokemon_data_df.head()

      s2_token     name        lat         lng
0  8085808cc6d   Weedle  37.793592 -122.408721
1  8085808b51d   Pidgey  37.794746 -122.406420
2  8085808b271    Zubat  37.794999 -122.404384
3  808580f3587   Pidgey  37.795644 -122.407128
4  808580f4b1d  Poliwag  37.795592 -122.406331

In [3]:
police_data_df = pd.read_csv("Resources/police-department-incidents.csv")
police_data_df = police_data_df[["IncidntNum", "Descript", "PdDistrict", "Resolution", "X", "Y"]]
police_data_df.head()

,IncidntNum,Descript,PdDistrict,Resolution,X,Y
0,50436712,BATTERY,MISSION,NONE,-122.435003,37.760888
1,130366639,AGGRAVATED ASSAULT WITH A KNIFE,INGLESIDE,"ARREST, BOOKED",-122.444707,37.724931
2,141024103,"CHILD, INFLICTING INJURY RESULTING IN TRAUMATI...",MISSION,"ARREST, BOOKED",-122.407102,37.762558
3,51142198,THREATS AGAINST LIFE,CENTRAL,"ARREST, BOOKED",-122.403847,37.789828
4,140684794,BATTERY,BAYVIEW,NONE,-122.402554,37.765419

In [4]:
# Aggregating data based on the lat and long

----

### Transform pokemon DataFrame

In [5]:
new_poke_df = pokemon_data_df[[\
    's2_token','name','lat','lng']].copy()
new_poke_df.head()

      s2_token     name        lat         lng
0  8085808cc6d   Weedle  37.793592 -122.408721
1  8085808b51d   Pidgey  37.794746 -122.406420
2  8085808b271    Zubat  37.794999 -122.404384
3  808580f3587   Pidgey  37.795644 -122.407128
4  808580f4b1d  Poliwag  37.795592 -122.406331

In [6]:
new_poke_df['id']=new_poke_df.index
new_poke_df.head()

      s2_token     name        lat         lng  id
0  8085808cc6d   Weedle  37.793592 -122.408721   0
1  8085808b51d   Pidgey  37.794746 -122.406420   1
2  8085808b271    Zubat  37.794999 -122.404384   2
3  808580f3587   Pidgey  37.795644 -122.407128   3
4  808580f4b1d  Poliwag  37.795592 -122.406331   4

In [7]:
'''for nam in new_poke_df[['name']]:
    if nam == 'Nidoran♀':
        nam = 'Nidoran'
        print('success')'''

"for nam in new_poke_df[['name']]:\n    if nam == 'Nidoran♀':\n        nam = 'Nidoran'\n        print('success')"

In [8]:
new_poke_df.iloc[113:]

          s2_token        name        lat         lng     id
113    808e34a5f65     Nidoran  37.304719 -121.908420    113
114    808e34b68e9      Pidgey  37.304935 -121.921222    114
115    808e34afe6f       Zubat  37.304565 -121.912687    115
116    808e34b0309      Pidgey  37.304965 -121.914110    116
117    808e34a77db       Paras  37.303960 -121.901929    117
118    808e33588d7       Zubat  37.304236 -121.900506    118
119    808e335be73     Koffing  37.304925 -121.895704    119
120    808e33594f9   Growlithe  37.304025 -121.896949    120
121    808e335cb7f      Pidgey  37.304056 -121.891080    121
122    808e33593d3     Rattata  37.304178 -121.898194    122
123    808e3343d17      Pidgey  37.304914 -121.885211    123
124    808fb56b9ed       Paras  37.306218 -122.012396    124
125    808fb5686b5      Pidgey  37.305805 -122.005289    125
126    808fb5686b5      Pidgey  37.305805 -122.005289    126
127    808fb55df69      Pidgey  37.306116 -121.999515    127
128    808fcaa08a9      Pidgey  37.306270 -121.991520    128
129    808fcaa08a9      Pidgey  37.306270 -121.991520    129
130    808fcaa10d3     Spearow  37.306702 -121.988588    130
131    808fcabb3f5       Eevee  37.306033 -121.980325    131
132    808fcaa3927     Rattata  37.306361 -121.985478    132
133    808fcabbb01     Spearow  37.306181 -121.977837    133
134    808fcabb3f5       Eevee  37.306033 -121.980325    134
135    808fcac8bf9       Paras  37.305710 -121.965663    135
136    808e34af9e5      Pidgey  37.305233 -121.910464    136
137    808fcab8387     Rattata  37.306115 -121.972061    137
138    808fcab8043     Rattata  37.305845 -121.970462    138
139    808fcad5c5b      Gastly  37.306193 -121.949311    139
140    808fcac8067     Rattata  37.305463 -121.969484    140
141    808fcb2a68d     Rattata  37.306226 -121.946200    141
142    808fcad5ce5    Raticate  37.306161 -121.949666    142
...            ...         ...        ...         ...    ...
65469  808f86cdfdb     Poliwag  37.772932 -122.259850  65469
65470  808f86cde2b  Jigglypuff  37.772735 -122.259761  65470
65471  808f8661d69       Doduo  37.773314 -122.219785  65471
65472  808f8661965       Doduo  37.772859 -122.218100  65472
65473  808f866f067      Krabby  37.773223 -122.206397  65473
65474  808f866e6fd       Doduo  37.773065 -122.203737  65474
65475  808f866d94b       Zubat  37.772995 -122.201520  65475
65476  808f860e62f      Gastly  37.773060 -122.190790  65476
65477  808f866e6fd       Doduo  37.773065 -122.203737  65477
65478  808f860e62f      Gastly  37.773060 -122.190790  65478
65479  808f866f067      Krabby  37.773223 -122.206397  65479
65480  808f866f0b5     Poliwag  37.772979 -122.207195  65480
65481  808f866d94b       Zubat  37.772995 -122.201520  65481
65482  808f866de0b    Clefable  37.772867 -122.202673  65482
65483  808f8605f2d     Nidoran  37.773366 -122.185381  65483
65484  808f8605897      Weedle  37.773631 -122.185735  65484
65485  808f868cb45    Caterpie  37.773684 -122.226877  65485
65486  808f860d77b      Staryu  37.773463 -122.194603  65486
65487  808f860680d   Exeggcute  37.772679 -122.182986  65487
65488  808f8604345     Venonat  37.773974 -122.182898  65488
65489  808f866e6fd       Doduo  37.773065 -122.203737  65489
65490  808f866de0b    Clefable  37.772867 -122.202673  65490
65491  808f8126e21       Eevee  37.774120 -122.280586  65491
65492  808f8126e21       Eevee  37.774120 -122.280586  65492
65493  808f8126e21       Eevee  37.774120 -122.280586  65493
65494  808f8128b31      Meowth  37.773347 -122.275801  65494
65495  808f860e62f      Gastly  37.773060 -122.190790  65495
65496  808f8605e75       Zubat  37.772789 -122.184582  65496
65497  808f8605f2d     Nidoran  37.773366 -122.185381  65497
65498  808f8128abd       Zubat  37.773279 -122.276510  65498

[65386 rows x 5 columns]

In [9]:
new_poke_df = new_poke_df[['id','name','lat','lng']]
new_poke_df.head()
new_poke_df.set_index("id", inplace=True)
#new_poke_df.head()

In [10]:
#change column names for new_poke_df
'''new_poke_df.rename(columns={'id':'id',
    'num':''},
    'name':'',
    'encounter_ms':'',
    'disppear_ms'},
    inplace=True)
new_poke_df.drop_duplicates("id", inplace=True)
new_poke_df.set_index("index", inplace=True)
new_poke_df.head()'''

'new_poke_df.rename(columns={\'id\':\'id\',\n    \'num\':\'\'},\n    \'name\':\'\',\n    \'encounter_ms\':\'\',\n    \'disppear_ms\'},\n    inplace=True)\nnew_poke_df.drop_duplicates("id", inplace=True)\nnew_poke_df.set_index("index", inplace=True)\nnew_poke_df.head()'

### Transform police DataFrame

In [11]:
police_data_df = police_data_df[[\
    "IncidntNum", "Descript", "PdDistrict", "Resolution", "X", "Y"]].copy()
police_data_df

,IncidntNum,Descript,PdDistrict,Resolution,X,Y
0,50436712,BATTERY,MISSION,NONE,-122.435003,37.760888
1,130366639,AGGRAVATED ASSAULT WITH A KNIFE,INGLESIDE,"ARREST, BOOKED",-122.444707,37.724931
2,141024103,"CHILD, INFLICTING INJURY RESULTING IN TRAUMATI...",MISSION,"ARREST, BOOKED",-122.407102,37.762558
3,51142198,THREATS AGAINST LIFE,CENTRAL,"ARREST, BOOKED",-122.403847,37.789828
4,140684794,BATTERY,BAYVIEW,NONE,-122.402554,37.765419
5,100666726,BATTERY,INGLESIDE,NONE,-122.409259,37.710900
6,130247744,BATTERY,RICHMOND,NONE,-122.438857,37.784369
7,140467487,THREATS AGAINST LIFE,SOUTHERN,"ARREST, BOOKED",-122.415449,37.778294
8,101144218,BATTERY,SOUTHERN,NONE,-122.408954,37.783288
9,50627745,AGGRAVATED ASSAULT WITH BODILY FORCE,CENTRAL,NONE,-122.396422,37.794145
10,100695935,AGGRAVATED ASSAULT WITH A DEADLY WEAPON,PARK,NONE,-122.447315,37.771876
11,91085586,BATTERY,MISSION,NONE,-122.418636,37.765685
12,30153500,THREATS AGAINST LIFE,BAYVIEW,NONE,-122.393975,37.719610
13,30499774,BATTERY,PARK,"ARREST, BOOKED",-122.437674,37.783209
14,110353117,BATTERY,INGLESIDE,COMPLAINANT REFUSES TO PROSECUTE,-122.399828,37.716652
15,110733785,THREATS AGAINST LIFE,BAYVIEW,"ARREST, BOOKED",-122.390578,37.734244
16,71304635,INFLICT INJURY ON COHABITEE,RICHMOND,NONE,-122.479129,37.784204
17,70521967,BATTERY,INGLESIDE,NONE,-122.444747,37.722968
18,91095739,AGGRAVATED ASSAULT WITH A DEADLY WEAPON,CENTRAL,"ARREST, BOOKED",-122.417295,37.786258
19,31184499,CHILD ABUSE (PHYSICAL),INGLESIDE,"ARREST, BOOKED",-122.411350,37.710604
20,81128061,BATTERY,TARAVAL,NONE,-122.474622,37.743095
21,100519238,"BATTERY, FORMER SPOUSE OR DATING RELATIONSHIP",CENTRAL,NONE,-122.414267,37.804635
22,31090959,AGGRAVATED ASSAULT WITH BODILY FORCE,INGLESIDE,"ARREST, BOOKED",-122.435977,37.723129
23,80665050,THREATS AGAINST LIFE,BAYVIEW,NONE,-122.403539,37.748119
24,81225087,BATTERY,CENTRAL,"ARREST, BOOKED",-122.415780,37.807745
25,81174092,AGGRAVATED ASSAULT WITH A KNIFE,MISSION,NONE,-122.413927,37.750904
26,140356103,"BATTERY, FORMER SPOUSE OR DATING RELATIONSHIP",INGLESIDE,NONE,-122.430218,37.731393
27,91311187,AGGRAVATED ASSAULT WITH A KNIFE,BAYVIEW,NONE,-122.390417,37.735593
28,100409065,AGGRAVATED ASSAULT WITH A GUN,MISSION,NONE,-122.406539,37.756486
29,31239953,BATTERY,CENTRAL,NONE,-122.412458,37.793424
...,...,...,...,...,...,...
194664,180356602,BATTERY,NORTHERN,"ARREST, BOOKED",-122.419858,37.786137
194665,180356652,BATTERY,NORTHERN,NONE,-122.423049,37.793934
194666,180356890,BATTERY,NORTHERN,NONE,-122.427281,37.777227
194667,180356969,AGGRAVATED ASSAULT WITH A DEADLY WEAPON,PARK,NONE,-122.443194,37.766543
194668,180357092,"BATTERY, FORMER SPOUSE OR DATING RELATIONSHIP",BAYVIEW,"ARREST, BOOKED",-122.392884,37.754367
194669,180357149,WILLFUL CRUELTY TO CHILD,CENTRAL,"ARREST, BOOKED",-122.411379,37.801125
194670,180357149,THREATS AGAINST LIFE,CENTRAL,"ARREST, BOOKED",-122.411379,37.801125
194671,180357274,BATTERY,PARK,"ARREST, BOOKED",-122.441705,37.777854
194672,180357315,BATTERY,PARK,NONE,-122.446933,37.770006
194673,180357440,WILLFUL CRUELTY TO CHILD,MISSION,"ARREST, BOOKED",-122.418409,37.767548
194674,180357456,BATTERY,PARK,NONE,-122.433949,37.773102
194675,180357456,ELDER ADULT OR DEPENDENT ABUSE (NOT EMBEZZLEME...,PARK,NONE,-122.433949,37.773102
194676,180357644,BATTERY,SOUTHERN,"ARREST, BOOKED",-122.413431,37.770148
194677,180357729,INFLICT INJURY ON COHABITEE,TARAVAL,"ARREST, BOOKED",-122.468183,37.723508
194678,180357741,BATTERY,MISSION,"ARREST, BOOKED",-122.405958,37.754252
194679,180357741,ELDER ADULT OR DEPENDENT ABUSE (NOT EMBEZZLEME...,MISSION,"ARREST, BOOKED",-122.405958,37.754252
194680,180357810,CHILD ABUSE (PHYSICAL),BAYVIEW,"ARREST, BOOKED",-122.395565,37.756330
194681,180357810,INFLICT INJURY ON COHABITEE,BAYVIEW,"ARREST, BOOKED",-122.395565,37.756330
194682,180357882,"BATTERY, FORMER SPOUSE OR DATING RELATIONSHIP",MISSION,"ARREST, BOOKED",-122.408192,37.752853
194683,180357951,THREATS AGAINST LIFE,INGLESIDE,NONE,-122.449592,37.739926
194684,180357967,BATTERY,MISSION,"ARREST, BOOKED",-122.418749,37.755437
194685,180358125,BATTERY,SOUTHERN,"ARREST, BOOKED",-122.420303,37.770897
194686,180358432,THREATS AGAINST LIFE,TARAVAL,"ARREST, BOOKED",-122.485440,37.758501
194687,180359264,AGGRAVATED ASSAULT WITH A DEADLY WEAPON,SOUTHERN,"ARREST, BOOKED",-122.403405,37.775421
194688,180359327,THREATS AGAINST LIFE,NORTHERN,NONE,-122.417785,37.784947
194689,180359333,CHILD ABUSE (PHYSICAL),MISSION,NONE,-122.410489,37.765606
194690,180359888,"BATTERY, FORMER SPOUSE OR DATING RELATIONSHIP",SOUTHERN,"ARREST, BOOKED",-122.412933,37.773927
194691,180360045,THREATS AGAINST LIFE,MISSION,NONE,-122.421740,37.759405
194692,180360164,BATTERY,PARK,NONE,-122.435637,37.768169
194693,180360578,BATTERY,SOUTHERN,NONE,-122.391004,37.792518

In [12]:
#change column names for new_police_df
police_data_df.rename(columns={'IncidntNum':'inc_num',
    'Descript':'descr',
    'PdDistrict':'district',
    'Resolution':'resolution',
    'X':'lng',
    'Y':'lat'}, 
    inplace=True)
police_data_df.set_index("inc_num", inplace=True)
police_data_df.head()

,descr,district,resolution,lng,lat
inc_num,,,,,
50436712,BATTERY,MISSION,NONE,-122.435003,37.760888
130366639,AGGRAVATED ASSAULT WITH A KNIFE,INGLESIDE,"ARREST, BOOKED",-122.444707,37.724931
141024103,"CHILD, INFLICTING INJURY RESULTING IN TRAUMATI...",MISSION,"ARREST, BOOKED",-122.407102,37.762558
51142198,THREATS AGAINST LIFE,CENTRAL,"ARREST, BOOKED",-122.403847,37.789828
140684794,BATTERY,BAYVIEW,NONE,-122.402554,37.765419

### Create database connection

In [13]:
#rds_connection_string = "<inser user name>:<insert password>@127.0.0.1/customer_db"
#engine = create_engine(f'mysql://{rds_connection_string}')
engine = create_engine(f'mysql://root:Redondo0505@localhost:3306/pokemon_police_db')

In [14]:
# Confirm tables
engine.table_names()

['pokemon', 'police']

### Load DataFrames into database

In [17]:
new_poke_df

             name        lat         lng
id
0          Weedle  37.793592 -122.408721
1          Pidgey  37.794746 -122.406420
2           Zubat  37.794999 -122.404384
3          Pidgey  37.795644 -122.407128
4         Poliwag  37.795592 -122.406331
5         Diglett  37.301129 -122.048453
6           Ekans  37.300757 -122.045701
7           Zubat  37.303463 -122.048187
8           Paras  37.759467 -122.426242
9           Zubat  37.759499 -122.423233
10        Pikachu  37.759913 -122.422614
11          Zubat  37.761019 -122.424826
12         Machop  37.761118 -122.422083
13          Paras  37.302002 -122.008931
14          Zubat  37.302019 -122.002891
15        Rattata  37.303609 -122.011330
16        Rattata  37.303676 -122.007866
17        Rattata  37.303676 -122.007866
18        Rattata  37.301284 -121.998094
19         Pidgey  37.301723 -121.996139
20        Rattata  37.301869 -121.992408
21          Paras  37.302348 -121.998804
22          Paras  37.301554 -121.945489
23      Growlithe  37.302640 -121.946378
24        Rattata  37.302179 -121.970906
25          Paras  37.301061 -121.926111
26      Sandshrew  37.301862 -122.001914
27          Eevee  37.301852 -121.951000
28        Rattata  37.301705 -121.961486
29          Paras  37.301130 -121.949400
...           ...        ...         ...
65469     Poliwag  37.772932 -122.259850
65470  Jigglypuff  37.772735 -122.259761
65471       Doduo  37.773314 -122.219785
65472       Doduo  37.772859 -122.218100
65473      Krabby  37.773223 -122.206397
65474       Doduo  37.773065 -122.203737
65475       Zubat  37.772995 -122.201520
65476      Gastly  37.773060 -122.190790
65477       Doduo  37.773065 -122.203737
65478      Gastly  37.773060 -122.190790
65479      Krabby  37.773223 -122.206397
65480     Poliwag  37.772979 -122.207195
65481       Zubat  37.772995 -122.201520
65482    Clefable  37.772867 -122.202673
65483     Nidoran  37.773366 -122.185381
65484      Weedle  37.773631 -122.185735
65485    Caterpie  37.773684 -122.226877
65486      Staryu  37.773463 -122.194603
65487   Exeggcute  37.772679 -122.182986
65488     Venonat  37.773974 -122.182898
65489       Doduo  37.773065 -122.203737
65490    Clefable  37.772867 -122.202673
65491       Eevee  37.774120 -122.280586
65492       Eevee  37.774120 -122.280586
65493       Eevee  37.774120 -122.280586
65494      Meowth  37.773347 -122.275801
65495      Gastly  37.773060 -122.190790
65496       Zubat  37.772789 -122.184582
65497     Nidoran  37.773366 -122.185381
65498       Zubat  37.773279 -122.276510

[65499 rows x 3 columns]

In [18]:
new_poke_df.to_sql(name='pokemon', con=engine, if_exists='replace', index=True, chunksize=2000)

In [19]:
police_data_df.to_sql(name='police', con=engine, if_exists='replace', index=True, chunksize=2000)

In [ ]:
pd.read_sql_query('select * from premise', con=engine).head()

In [ ]:
pd.read_sql_query('select * from county', con=engine).head()